@font-face {
  font-family: Norse-Bold;
  src: url(/Norse-Bold.otf);
}

:root {
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --primary-background-color: #ffff;
  --secondary-background-color: rgba(0, 0, 0, 0.4);
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Norse-Bold", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

/* Layout & default styling */
.form-left {
  position: relative;
  flex: 40%;
}

.form-right {
  flex: 60%;
}

html {
  background-color: black;
}

main {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
}

/* Left Side */
#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-left {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  padding: 10px 0;

  #odin-logo {
    max-width: 10%;
    height: auto;
  }

  > h1 {
    color: var(--primary-text-color);
    font-family: var(--secondary-font-family);
    /* font-size: 6rem; */
    line-height: normal;
    font-size: clamp(4rem, 6vw, 6rem);
  }
}

.footer-left {
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  width: 100%;
  padding: 10px;

  > p > a {
    color: #fff; /* Styles anchor elements within .footer-left */
  }
}

/* Right Side */
.form-top-section {
  margin: 100px 50px 0 50px;
}

.header-right {
  flex: 1;
  margin-bottom: 60px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.header-right h3 + h3 {
  margin-top: 30px;
}

/* Form */

input,
label {
  display: block;
}

input {
  padding: 3px;
  font-size: 14px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 3px;
}

input:focus {
  outline: none;
  border: 2px solid #435df3;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.form-inputs {
  flex: 3;
}

.data-row {
  display: flex;
  flex-wrap: wrap;

  .data {
    margin: 10px 40px 0px 10px;
  }

  #placeholder {
    min-height: 30px;
  }

  /* Targeting password inputs with the "error" class */
  .error {
    font-size: 0.8rem; /* Apply a red border for error inputs */
    color: red;
    /* Any other styling for error inputs */
  }
}

hr.hr-style {
  height: 6px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.4);
  margin: 10px 0 30px;
}

.form-bottom-section {
  margin: 0 0 0 50px;

  > button {
    background-color: #596d48;
    border-style: none;
    padding: 15px 50px;
    border-radius: 5px;
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 1.1rem;
  }

  > p {
    margin: 20px 0;
  }
}

.login {
  margin: 20px 0;
  font-weight: 600;

  > p > a {
    color: #596d48;
  }
}
